<div (click)="expandContactSection()" class="w-full flex items-center px-10 justify-between bg-white rounded-md h-12">
    <h1 class="font-bold font-sans tracking-wider uppercase">Profile</h1>
    <ng-icon class="" name="heroArrowDown"></ng-icon>
</div>
<div *ngIf="contactSectionExpanded" class="w-full mt-4 py-4 flex flex-col items-center gap-5 h-[87vh] bg-white shadow-xl rounded-md">
    <div class="w-28 h-28 bg-pink-300 rounded-lg p-3">
        <img src="https://res.cloudinary.com/daxuxn2ec/image/upload/v1710956923/msr_cqkmhl.jpg" class="w-full object-cover rounded-lg scale-125 h-full"  alt="">
    </div>
    <div class="mt-[-7px]">
        <h1 class="text-lg font-medium">M Shafqat Rasool</h1>
        <h1 class="text-xs text-gray-400 uppercase font-medium text-center">Software Engineer</h1>
    </div>
    <!--Social Media Icons -->
    <div class="flex items-center justify-center gap-3 ">
        <a target="_blank" href="https://www.linkedin.com/in/muhammad-shafqat-rasool-356540255/" class="p-1.5 text-blue-600 hover:scale-110 transition-all duration-200 cursor-pointer flex items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500 hover:text-blue-100">
            <ng-icon name="ionLogoLinkedin"></ng-icon>
        </a>
        <a target="_blank" href="https://web.facebook.com/profile.php?id=100009433613382&_rdc=1&_rdr" class="p-1.5 text-blue-600 hover:scale-110 transition-all duration-200 cursor-pointer flex items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500 hover:text-blue-100">
            <ng-icon name="ionLogoFacebook"></ng-icon>
        </a>
        <a target="_blank" href="https://twitter.com/msr_developer" class="p-1.5 text-blue-600 hover:scale-110 transition-all duration-200 cursor-pointer flex items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500 hover:text-blue-100">
            <ng-icon name="ionLogoTwitter"></ng-icon>
        </a >
        <a target="_blank" href="https://www.instagram.com/mshafqat.developer/" class="p-1.5 text-blue-600 hover:scale-110 transition-all duration-200 cursor-pointer flex items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500 hover:text-blue-100">
            <ng-icon name="ionLogoInstagram"></ng-icon>
        </a>
        <a target="_blank" href="https://github.com/shafqatdeveloper" class="p-1.5 text-blue-600 hover:scale-110 transition-all duration-200 cursor-pointer flex items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500 hover:text-blue-100">
            <ng-icon name="ionLogoGithub"></ng-icon>
        </a>
        <a target="_blank" href="https://stackoverflow.com/users/23347569/user23347569" class="p-1.5 text-blue-600 hover:scale-110 transition-all duration-200 cursor-pointer flex items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500 hover:text-blue-100">
            <ng-icon name="ionLogoStackoverflow"></ng-icon>
        </a>

    </div>
    <!-- Personal Information -->
    <div class="bg-[#f0efef] w-4/5 rounded-md p-2 flex flex-col  gap-3">
            <div class="flex items-center gap-3.5">
                <div class="bg-white px-2 pt-1.5 rounded-md">
                    <ng-icon size="20" class="text-red-500" name="heroDevicePhoneMobile"></ng-icon>
                </div>
                <div class="flex flex-col items-start gap-0">
                    <h1 class="text-xs">Phone</h1>
                    <h1 class="font-semibold tracking-wide text-xs text-gray-800">+923000293355</h1>
                </div>
            </div>
            <div class="flex items-center gap-3.5">
                <div class="bg-white px-2 pt-1.5 rounded-md">
                    <ng-icon size="20" class="text-green-500" name="ionMailOutline"></ng-icon>
                </div>
                <div class="flex flex-col items-start gap-0">
                    <h1 class="text-xs">Email</h1>
                    <h1 class="font-semibold tracking-wide text-xs text-gray-800">mshafqat.developer</h1>
                </div>
            </div>
            <div class="flex items-center gap-3.5">
                <div class="bg-white px-2 pt-1.5 rounded-md">
                    <ng-icon size="20" class="text-pink-600" name="ionLocationOutline"></ng-icon>
                </div>
                <div class="flex flex-col items-start gap-0">
                    <h1 class="text-xs">Address</h1>
                    <h1 class="font-semibold tracking-wide text-xs text-gray-800">Depalpur, Okara</h1>
                </div>
            </div>
            <div class="flex items-center gap-3.5">
                <div class="bg-white px-2 pt-1.5 rounded-md">
                    <ng-icon size="20" class="text-violet-600" name="ionCalendarNumberOutline"></ng-icon>
                </div>
                <div class="flex flex-col items-start gap-0">
                    <h1 class="text-xs">Graduation</h1>
                    <h1 class="font-semibold tracking-wide text-xs text-gray-800">January 2026</h1>
                </div>
            </div>
    </div>
    <!-- Download Resume -->
    <div>
        <button class="bg-blue-500 py-2 px-4 text-white flex gap-1 rounded-md"><span class="flex font-semibold self-center">
            <ng-icon name="ionCloudDownloadOutline"></ng-icon>
        </span>
        Download CV 
    </button>
    </div>
</div>
