<div class="w-16 flex flex-col justify-center items-center gap-3 md:h-[50vh] bg-white shadow-xl rounded-md">
    <div (click)="updateValue('home')" [ngClass]="{'bg-blue-500 text-white scale-105':activeComponent==='home'}" class="p-1.5 hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="ionHomeOutline"></ng-icon>
        <h1 style="font-size: 0.5rem; line-height: 0.4rem" class="">Home</h1>
    </div>
    <div (click)="updateValue('resume')" [ngClass]="{'bg-blue-500 text-white scale-105':activeComponent==='resume'}" class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="ionDocumentTextOutline"></ng-icon>
        <h1 style="font-size: 0.5rem; line-height: 0.4rem" class="">Resume</h1>
    </div>
    <div (click)="updateValue('works')" [ngClass]="{'bg-blue-500 text-white scale-105':activeComponent==='hworks'}" class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="cssToolbox"></ng-icon>
        <h1 style="font-size: 0.5rem; line-height: 0.4rem" class="">Works</h1>
    </div>
    <div (click)="updateValue('contactme')" [ngClass]="{'bg-blue-500 text-white scale-105':activeComponent==='contactme'}" class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="typContacts"></ng-icon>
        <h1 style="font-size: 0.5rem; line-height: 0.4rem" class="">Contact</h1>
    </div>
    <div (click)="updateValue('education')" [ngClass]="{'bg-blue-500 text-white scale-105':activeComponent==='education'}" class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="19" name="ionSchoolSharp"></ng-icon>
        <h1 style="font-size: 0.5rem; line-height: 0.4rem;" class="">Education</h1>
    </div>
</div>
