<div class="w-16 flex flex-col justify-center items-center gap-3 md:h-[40vh] bg-white shadow-xl rounded-md">
    <div class="p-1.5 hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="ionHomeOutline"></ng-icon>
        <h1 style="font-size: 0.6rem; line-height: 0.5rem;" class="">Home</h1>
    </div>
    <div class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="ionDocumentTextOutline"></ng-icon>
        <h1 style="font-size: 0.6rem; line-height: 0.5rem;" class="">Resume</h1>
    </div>
    <div class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="cssToolbox"></ng-icon>
        <h1 style="font-size: 0.6rem; line-height: 0.5rem;" class="">Works</h1>
    </div>
    <div class="p-1.5  hover:scale-110 transition-all gap-0.5 w-11 text-gray-500 hover:text-white duration-200 cursor-pointer flex flex-col items-center justify-center bg-[#e8e8e8] rounded-md hover:bg-blue-500">
        <ng-icon size="21" name="typContacts"></ng-icon>
        <h1 style="font-size: 0.6rem; line-height: 0.5rem;" class="">Contact</h1>
    </div>
</div>
